:host {
  font-family: "Raleway", Times, serif;
}
hr {
  width: 10%;
  border: 1.5px solid rgb(44, 40, 40);
  border-radius: 7px 7px;
  background-color: rgb(44, 40, 40);
}
#logo {
  margin-top: 5%;
  color: rgb(231, 25, 111);
  text-align: center;
}
#bio_paragraph {
  padding: 0 15rem;
  font-size: x-large;
  text-indent: 3rem;
  text-align: justify;
}
#bio_paragraph > span {
  color: rgb(231, 25, 111);
  font-weight: bold;
}
