<div id="logo" #logo>
  <h1>WHO AM I?</h1>
</div>
<hr [@hline]="state" />
<div
  [@hline]="state"
  class="d-flex flex-wrap justify-content-around bd-highlight"
>
  <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 18rem;">
    <img class="card-img-top" src="assets/macara.png" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Civil Engineer</h5>
      <p class="card-text">I have a master degree in Structural Engineering.</p>
    </div>
  </div>
  <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 18rem;">
    <img class="card-img-top" src="assets/poker.png" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Poker player</h5>
      <p class="card-text">A huge fan of no limit hold'em!</p>
    </div>
  </div>
  <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 18rem;">
    <img class="card-img-top" src="assets/fotbal.png" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Sport advocat</h5>
      <p class="card-text">
        When it comes to sports I enjoy playing football, tennis, voleyball and
        also bascketball.
      </p>
    </div>
  </div>
  <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 18rem;">
    <img class="card-img-top" src="assets/sax.png" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Sax player</h5>
      <p class="card-text">Yes, I also play the sax!</p>
    </div>
  </div>
</div>
<!-- BIO -->
<div id="logo" #logo>
  <h1>BIO</h1>
</div>
<hr [@hline]="state" />
<div
  [@hline]="state"
  class="d-flex flex-wrap justify-content-around bd-highlight"
>
  <p id="bio_paragraph">
    <span>Vilău Ciprian</span> is the head of development at VilauWeb.com and
    loves helping people plan, optimize and launch new websites. He has spent
    the majority of his career in the Civil Engineering industry, gaining
    experiences in areas such as designing, project management and design and
    build, while also following his passion for coding. Now he is a full-time
    web developer and helps small businesses in Civil Engineering industry to
    make them more visible on the web.
  </p>
</div>
<app-my-work></app-my-work>
<app-contact></app-contact>
