<div id="logo" #logo [@scrollAnimation]="state">
  <h1>CONTACT</h1>
</div>
<hr [@hLine]="state" />
<div class="row">
  <div class="col"></div>
  <div class="col" id="socialIcons">
    <a href="mailto:vilau.gc@gmail.com">
      <fa-icon [icon]="faEnvelope" size="3x"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/VilauGeorgeCiprian/">
      <fa-icon [icon]="faLinkedin" size="3x" id="faLinkedin"></fa-icon>
    </a>
    <a href="https://twitter.com/VilauGC">
      <fa-icon [icon]="faTwitterSquare" size="3x" id="faTwitter"></fa-icon>
    </a>
    <a href="https://github.com/VilauGC">
      <fa-icon [icon]="faGithubSquare" size="3x" id="faGithub"></fa-icon>
    </a>
  </div>
  <div class="col"></div>
</div>
