<div id="myWork" #myWork>
  <h1>My Work</h1>
</div>
<hr [@hline]="state" />
<div
  [@hline]="state"
  class="d-flex flex-wrap justify-content-around bd-highlight"
>
  <div id="homeV3" class="card shadow-sm p-3 mb-5 bg-white rounded">
    <img
      class="card-img-top"
      src="assets/mywork/home-v3.jpg"
      alt="Card image cap"
    />
  </div>
  <div class="card shadow-sm p-3 mb-5 bg-white rounded">
    <img
      class="card-img-top"
      src="assets/mywork/home-v2.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Coming soon!</h5>
    </div>
  </div>
  <div class="card shadow-sm p-3 mb-5 bg-white rounded">
    <img
      class="card-img-top"
      src="assets/mywork/home-v1.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Coming soon!</h5>
    </div>
  </div>
</div>
